*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-lift{
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    
}
.btn-lift:hover{
    box-shadow: 0 0 15px rgba(210, 137, 59, 0.855);
    transform: translate(-3px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /* background-color: transparent;
    color: #5b8c6a; */
}

/* shared style */


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* main style */
/* header style */
nav{
    background-color: #FFFFFF;
    max-width: 1600px;
    height: 92px;
    
}
.btn{
    width: 164px;
    font-size: 16px;
    font-weight: 500;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.nav-container li{
    list-style: none;
}
.nav-logo{
    margin-top: 16px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 16px;
    color: #000000;
}
.menu a{
    text-decoration: none;
    color: #000000;
}
.button{
    margin-top: 24px;
}

/* main style */
/* hero section */

.hero-section{
    max-width: 1600px;
    height: 674px;
    background: url("../B13-A01-Knowledge-Vault-main/assets/hero-bg.png");
    border: 1px solid #00000000;
}
.hero-container{
    max-width: 1360px;
    margin: 115.5px auto;
    
    
}
.second-btn{
    margin-left: 565.5px;
}
.second-button{
    border: none;
    border-radius: 1000px;
    width: 229px;
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    padding: 8px 12px 8px 34px;
    margin-bottom: 16px;
}
.content{
    max-width: 770px;
    margin-left: 295px;
    text-align: center;
}
.first-title{
    color: #FFFFFF;
}
.second-title{
    color: #30B868;
}
.content h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
}
.text{
    max-width: 1360px;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 32px;
}
.two-button{
    display: flex;
    gap: 16px;
    margin-left: 447.5px;
}
.build-btn{
    max-width: 250px;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 16.5px 16px;
    border: none;
    border-radius: 4px;
}
.watch-btn{
     max-width: 198px;
     border: 1px solid #ffffff;
     border-radius: 4px;
     background-color: #00000000;
     color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 16.5px 16px;
}

/* notes style */

.notes-section{
    max-width: 1600px;
    /* height: 448px; */
    /* background-color: blueviolet; */
}
.notes-container{
    max-width: 1360px;
    margin: 0 auto;
}
.main-heading{
    text-align: center;   
    padding-top: 80px;
}
.main-heading h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.main-heading p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}
.card-section{
    max-width: 1360px;
    height: 300px;
    display: flex;
    gap: 24px;
}
.card{
    max-width: 322px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #000000;
    text-align: center;
}
.card img{
    background-color: #F95555;
    padding: 14px;
    border: none;
    border-radius: 50%;
    margin-top: 69.5px;
    margin-bottom: 16px;
}
.card-title{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.card-text{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}

/* Brain style */

.brain-section{
    max-width: 1600px;
    height: 840px;
}

.brain-container{
    display: flex;
    justify-content: space-around;
    gap: 60px;
    margin: 120px;
}
.brain-img img{
    /* max-width: 600px; */
}
.brain-message{
    max-width: 700px;
    margin-top: 102px;
}
.section-message{
    max-width: 700px;
    height: 228px;
    margin-bottom: 40px;
}
.brain-title{
    font-size: 16px;
    font-weight: 500px;
    color: #469165;
    margin-bottom: 16px;
}
.brain-heading{
    max-width: 700px;
    height: 116px;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.discription{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 40px;
}
.brain-message li{
    list-style: none;
    margin-bottom: 16px;
} 


/* Challenges style */

.early-access{
    max-width: 1360px;
    height: 384px;
    background-color: #F7F6F2;
    margin: 2px 120px;
}
.access-container{
  
}
/* .title-subtitle{
    margin-top: 80px;
} */
.access-title{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 16px;
}
.access-subtitle{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    text-align: center;
    margin-bottom: 24px;
}

.access-button{
    display: flex;
    justify-content: center;
}
.access-btn{
     max-width: 194px;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 16.5px 16px;
    border: none;
    border-radius: 4px;
    margin-bottom: 16px;
}
.end-message{
    display: flex;
    justify-content: center;
}
.end-message p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}


/* footer style */

.footer-section{
    max-width: 1600px;
    height: 348px;
    background-color: #001931;
    margin-top: 120px;
}
.footer-container{
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 0 120px;
    margin-bottom: 80px;
    
}
.contact-info p{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.contact-info a{
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    text-decoration: none;
    margin-right: 16px;
}
.contact-info i{
    color: #000000;
    padding: 4.15px 4.25px;
}

.copy-right{
    max-width: 1360px;
}

.line-break{
    max-width: 1360px;
    margin: 0 auto;
    color: #E5E7EB;
    opacity: 20%;
    align-items: center;
    margin-bottom: 30px;
    
}
.rights{
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    text-align: center;
}